<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="klorles.refactoring" name="Refactoring" schema="schema/klorles.refactoring.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:?after=additions">
         <menu
               id="klorles.contextMenu"
               label="Klorles Refactorings"
               mnemonic="K">
         </menu>
      </menuContribution>
   </extension>

</plugin>
