<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="The category for the test command."
            id="Context_Test.commands.category"
            name="Test Category">
      </category>
      <command
            categoryId="Context_Test.commands.category"
            name="Test Command"
            id="Context_Test.commands.default">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="context_test.handlers.TestHandler"
            commandId="Context_Test.commands.default">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#CompilationUnitEditorContext?after=additions">
         <menu
               id="Context Test.popupPopup.menu"
               label="Context Test">
            <command
                  commandId="Context_Test.commands.default"
                  label="Do thing"
                  style="push"
                  tooltip="Make the plugin do a default thing">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
